html {
    counter-reset: paragraph;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
}

header p:before {
    color: #AAA;
    content: "";
    counter-increment: paragraph;
}

td {
    text-align: justify;
}

p:before {
    color: #AAA;
    content: "§" counter(paragraph) " ";
    counter-increment: paragraph;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

h1 {
    counter-increment: part;
    counter-reset: chapter;
    counter-reset: section;
    counter-reset: subsection;
    counter-reset: subsubsection;
    counter-reset: subsubsubsection;
    counter-reset: paragraph;
}

h2 {
    counter-increment: chapter;
    counter-reset: section;
    counter-reset: subsection;
    counter-reset: subsubsection;
    counter-reset: subsubsubsection;
    counter-reset: paragraph;
}

h3 {
    counter-increment: section;
    counter-reset: subsection;
    counter-reset: subsubsection;
    counter-reset: subsubsubsection;
    counter-reset: paragraph;
}
}

h4 {
    counter-increment: subsection;
    counter-reset: subsubsection;
    counter-reset: subsubsubsection;
    counter-reset: paragraph;
}
}

h5 {
    counter-increment: subsubsection;
    counter-reset: subsubsubsection;
    counter-reset: paragraph;
}
}

h6 {
    counter-increment: subsubsubsection;
    counter-reset: paragraph;
}

nav > ul {
    list-style-type: none;
    padding-left: 2em;
}

nav > ul ul {
    list-style-type: none;
}

li {
    margin: 0;
}

.sidenote {
    position: absolute;
    margin-left: 80%;
    width: 100px;
}